body {
    margin: 0;
}

:root {
    --size: 3rem; 
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    width: 90vw;
    margin: auto;
    text-align: center;
    display: grid;
    justify-content: center;
}

.button {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0 30px 0;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.main-cell, .color-cell {
    height: var(--size);
    width: var(--size);
    border: 1px solid black;
    cursor: pointer;
}

.main-grid, .color-grid {
    display: grid;
    grid-template-columns: repeat(6, var(--size));
}

.grid-container {
    width: min-content;
    border: 1px solid black;
}